* {
    font-family:'Times New Roman', Times, serif;
    color:lightblue;
}

body {
    background-color:rgb(34, 19, 131);
}

.title {
    text-decoration:underline;
    text-decoration-color:rgb(226, 184, 76);
    text-align:center;
    font-size:50px;
}

.title.mini {
    font-size:35px;
    margin:35px;
}

a {
    color:rgb(226, 184, 76);
    text-decoration:underline;
    text-decoration-color: rgb(226, 184, 76);
    font-size:25px;
}

a.centered-link {
    text-align: center;
    display:block;
}